<header>
</header>
<nav>
    <p-menubar [model]="items">
    </p-menubar>
  </nav>
<main>
    <div class="container box" pFocusTrap>
        <H1>Mi Perfil</H1>
        <img src="assets/images/usuario_icono.png" [alt]="" class="product-image" />
        <tr>
            <label><b>Nombre:</b> {{nombre}}</label>
        </tr>
        <tr>
            <label><b>Apellido:</b> {{apellido}}</label>
        </tr>
        <tr>
            <label><b>Sexo:</b> {{sexo}}</label>
        </tr>
        <tr>
            <label><b>Email:</b> {{email}}</label>
        </tr>
    </div>
</main>

<footer></footer>
